/* General Styles */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to bottom right, #2c3e50, #4ca1af);
  color: #ecf0f1;
  text-align: center;
  margin: 0;
}

#game-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(44, 62, 80, 0.9);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

/* Cards Styles */
.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.cards img {
  margin: 0 10px;
  width: 80px;
  height: auto;
  transition: transform 0.3s;
}

.cards img:hover {
  transform: scale(1.1);
}

/* Controls and Betting */
#controls, #betting {
  margin: 20px 0;
}

button {
  padding: 12px 24px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #27ae60;
  color: #ecf0f1;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #2ecc71;
  transform: translateY(-2px);
}

button:disabled {
  background-color: #7f8c8d;
  cursor: not-allowed;
  transform: translate(2px);
}

input[type="number"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #7f8c8d;
  color: #ffffff;
  width: 100px;
  height: 20px;
  margin-right: 10px;
}

input[type="number"]::placeholder {
  color: #e3e3e3;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

table, th, td {
  border: 1px solid #ecf0f1;
}

th, td {
  padding: 15px;
  text-align: center;
}

th {
  background-color: #34495e;
}

tr:nth-child(even) {
  background-color: rgba(236, 240, 241, 0.1);
}

/* Additional Styles */
#player-chips, #player-score, #dealer-score {
  font-size: 1.5em;
  margin: 15px 0;
}

#current-bet {
  display: block;
  margin: 10px 0;
  font-weight: bold;
}

#insurance-bet {
  display: block;
  margin-bottom: 20px ;
  font-weight: bold;
}

#insurance-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 62, 80, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
}

#insurance-section div {
  background-color: #2c3e50;
  padding: 30px;
  border-radius: 10px;
}

#insurance-section input, #insurance-section button {
  margin-top: 10px;
}

/* Player Hands Styles */
.player-hand {
  border: 2px solid #27ae60;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
  background-color: rgba(44, 62, 80, 0.9);
}

.active-hand {
  border-color: #e67e22;
  box-shadow: 0 0 10px #e67e22;
}

.hand-controls {
  margin-top: 10px;
}

.hand-controls button {
  background-color: #2980b9;
}

.hand-controls button:hover {
  background-color: #3498db;
}

.hand-controls button:disabled {
  background-color: #7f8c8d;
}

/* Switch Hand Button */
.player-hand .switch-hand-button {
  margin-top: 10px;
  background-color: #8e44ad;
}

.player-hand .switch-hand-button:hover {
  background-color: #9b59b6;
}


